<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/public/css/main.css"/>
	</head>
	<body style="height:5000px">
		  
		我是index.js  woshi 55555555855
		hello worl   wangy  598541  4321  
		你是傻逼
		<!--<script src="../../public/common/main.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="/public/common/main.js" type="text/javascript" charset="utf-8"></script>
		<script src="/reload/reload.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
