<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		
	</head>
	<body class="login">
		
		<div class="container">
			<h1>
				<a class="avatar" href="/"></a>
			</h1>
			<div class="row">
				<form action="" class="col-sm-4 col-sm-offset-4">
					<div class="form-group">
						<label for="username">用户名:</label>
						<input class="form-control" type="text" id="username" name="username" />
					</div>
					<div class="form-group">
						<label for="password">密码:</label>
						<input class="form-control" type="text" id="password" name="password" />
					</div>
					
					<button type="submit" class="btn btn-primary pull-right">登录</button>
				</form>
			</div>
		</div>
		
		<script src="public/common/admin-lib.js" type="text/javascript" charset="utf-8"></script>
		<script src="/public/common/main.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
