@charset "utf-8";
body.login{
	background: #666666;
}
.login .container{
	margin-top: 100px;
}
.login .avatar{
	display: block;
	width: 80px;
	height: 80px;
	background: url(touxiang.jpg) no-repeat center;
	background-size: contain;  /*全屏*/
	border-radius: 50%;
	margin: 20px auto;
}
.login form{
	padding: 30px;
	border: 1px solid red;
	background: pink;
	opacity:0.6;
}
