body{
	background: url("https://cn.bing.com/az/hprichbg/rb/CityPalace_ZH-CN7843237957_1920x1080.jpg");
	background-attachment: fixed;
}
.login form{
	border-radius: 8px;
	padding: 20px;
	background-color: rgba(251,251,251,0.3);
}
.login .container{
	margin-top: 200px;
}
.login .avatar{
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: url(touxiang.jpg);
	background-size: contain;
	margin: 20px auto;
}
